# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Env files
.env

# Optional npm cache directory
.npm

# Coverage directory used by testing tools
coverage/

# Output of 'npm pack'
*.tgz

# VS Code settings
.vscode/

# Build output (if any)
dist/

# removing notes
notes/